<p>SignIn Works</p>
<div class="LoginCtrl">
  <button id="login-google" type="button" (click)="authService.GoogleAuth()">
    Log in with Google
  </button>
</div>
<div *ngIf="authService.isLoggedIn">
  <div>
    <div id="divs">
      <div id="todo">
          <p>To-Do Count:</p>
          <p id ="todo-count"></p>
      </div>
      <div id="done">
          <p>Done Count:</p>
          <p id = "done-count"></p>
      </div>
  </div>
    <div class="input-submit">
      <input id="item" type="text">
      <button id="click" (click)="getText()">Submit</button>
      <button id ="clear" (click)="clearAll()">Clear</button>
    </div>
  </div>
</div>

<div id="show"></div>

<button (click)="delItem(0)">tttt</button>
